/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

/* header Menu*/

header {
    height: 79px;
}

.menu-container {
    display: flex;
    justify-content: space-between;
}

#logo-booki {
    height: 19px;
    width: 61px;
    margin-top: 30px;
}

nav ul {
    display: flex;
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 16px;
}

.menu li {
    padding-top: 14px;
    margin-left: 69px;

}


.menu li:hover {
    border-top: 1px solid var(--main-color);
    cursor: pointer;
}

.menu a:hover {
    color: var(--main-color);
}

/* section recherche titre */

.research-subtitle {
    font-size: 16px;
    font-weight: 400;
}

.section-research {
    margin-top: 30px;
    margin-bottom: 35px;
}

.filter-title {
    margin-top: 8px;
}


/* barre de recherche */

form {
    display: flex;
    align-items: center;
    margin-top: 35px;
    text-align: center;
    width: 100%;
    height: 49px;
    border-radius: 15px;
}

form input,
.btn-form {
    border: 1px solid var(--main-bg-color);
    height: 49px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.fa-location-dot {
    color: black;
    padding: 15px 18px 15px 18px;
}

#location-item {
    background: var(--main-bg-color);
    border-radius: 15px 0 0 15px;
}

.btn-form {
    background: var(--main-color);
    color: white;
    border-radius: 0 15px 15px 0;
}

/* section filtre */

.filter-container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 10px;
}

.filter-container p {
    font-size: 18px;
    font-weight: 700;
    margin-top: 49.5px;
}

.filter-container i {
    padding-right: 10px;
}

.link-filter {
    text-decoration: none;
    font-weight: 700;
    color: black;
    border-radius: 25px;
    font-size: 17px;
    padding: 15px 19px 15px 19px;
    border: 2px solid #D9D9D9;
}

.filter-container a:hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}


/* phrase d'information */

.info-container {
    display: flex;
    margin-top: 37.5px;
    gap: 10px;
    text-align: center;
    align-items: center;
}

#logo-info {
    border: 1px solid #D9D9D9;
    border-radius: 50px;
    width: 24px;
    height: 24px;
}

/* section carte */

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    color: black;
}

.card-subtitle {
    font-weight: 400;
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Hebergements And Populaires***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires a {
    text-decoration: none;
    color: black;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.hebergements-cards a {
    width: 30%;
}

.hebergements-cards img {
    height: 124px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}

.hebergements-cards .card {
    margin-bottom: 30px;
}

.hebergements-cards .card-content {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 4px;
    margin-bottom: 10px;
}

.hebergements-cards .card-subtitle {
    margin: 8px 0 8px 0;
}

.detail-hebergements {
    font-weight: 700;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 27.5px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/* section activites */

.activites {
    margin-top: 35px;
    padding: 30px;
}

.activites .section-title {
    margin-bottom: 30px;
}

.activites-cards {
    display: flex;
    gap: 30px;
}

.activites-cards .card {
    padding: 0;
}

.activites-cards img {
    border-radius: 20px 20px 0px 0px;
    height: 380px;
    width: 100%;
}

.activites .card-content {
    height: 59px;
}

.activites-cards a {
    text-decoration: none;
    width: 25%;
}

.activites .card-title {
    padding: 20px 19px 20px 19px;
}

/* section footer */

footer {
    display: flex;
    background: var(--main-bg-color);
    height: 163px;
    margin-top: 35px;
}

footer .footer-content {
    width: 33.3%;
}

footer ul {
    padding-left: 0;
    font-weight: 700;
    font-size: 18px;
    padding: 20px;
}

footer li {
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: black;
    list-style: none;
    font-weight: 400;
    font-size: 16px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}